/******************************************************
                Ressources Card
********************************************************/
#ressourceCardId > ion-text{
    display: block;
    text-align: justify;
    margin-top: 10px;
    padding: 1px;
    margin-right: 10px;
    margin-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.formatCard{
    background: #002836;
    border-radius: 10px;
}
a {
    text-decoration: none;
}
.colorBlue{
    color: #2699FB;
}
.positionAvatarHome{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.colorPink{
    color: #E04980;
}
.positionTextTitleCard{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.spanNameCard{
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}
.footerCard{
    display: flex;
    height: 50px;
}
.footerCard > ion-title {
    text-align: center;
}
.footerCard > ion-title > .tailleIconFooterCard{
    font-size: 25px;
    position: absolute;
    transform: translate(-130%, -50%);
}
.footerCard > ion-title > ion-label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ressourceMarginSection{
    margin-top: 30px;
}

/******************************************************
                VueTopRessources
********************************************************/
#vueTopRessourceParentText > ion-item:nth-child(1){
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#vueTopRessourceParentText > ion-item:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#vueTopRessourceParentText > ion-item:nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: -30px;
}
#vueTopRessourceParentText > ion-item:nth-child(4){
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
#vueTopRessourceParentText > ion-item:nth-child(5){
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.titlePositionVueRessource{
    text-align: center;
    font-size: 30px;
    font-weight: lighter;
}
#textParentVueRessourceArticle > p {
    margin: 15px;
    text-align: justify;
    font-size: 13px;
}


/******************************************************
                VueBotRessources
********************************************************/
.positionParentElementRessourcesBot{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline-start: 0;
}
.positionParentElementRessourcesBot > li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
}
.positionParentElementRessourcesBot > li > ion-label {
    margin-left: 5px;
}
.ressourceMarginSectionBot{
    margin-top: 25px;
}

:root {
--ion-color-pinkofficial: #e0497b;
--ion-color-pinkofficial-rgb: 224,73,123;
--ion-color-pinkofficial-contrast: #ffffff;
--ion-color-pinkofficial-contrast-rgb: 255,255,255;
--ion-color-pinkofficial-shade: #c5406c;
--ion-color-pinkofficial-tint: #e35b88;

--ion-color-white: #ffffff;
--ion-color-white-rgb: 255,255,255;
--ion-color-white-contrast: #000000;
--ion-color-white-contrast-rgb: 0,0,0;
--ion-color-white-shade: #e0e0e0;
--ion-color-white-tint: #ffffff;
}

.ion-color-pinkofficial {
    --ion-color-base: var(--ion-color-pinkofficial);
    --ion-color-base-rgb: var(--ion-color-pinkofficial-rgb);
    --ion-color-contrast: var(--ion-color-pinkofficial-contrast);
    --ion-color-contrast-rgb: var(--ion-color-pinkofficial-contrast-rgb);
    --ion-color-shade: var(--ion-color-pinkofficial-shade);
    --ion-color-tint: var(--ion-color-pinkofficial-tint);
  }
.ion-color-white {
    --ion-color-base: var(--ion-color-white);
    --ion-color-base-rgb: var(--ion-color-white-rgb);
    --ion-color-contrast: var(--ion-color-white-contrast);
    --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
    --ion-color-shade: var(--ion-color-white-shade);
    --ion-color-tint: var(--ion-color-white-tint);
}