#navigationInProfil .navigation-profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    height: 3rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    list-style: none;
    background-color: #00151D;
}