.display-ressource-chip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  border-bottom: 5px solid var(--ion-color-primary);
}

.display-ressource-chip .__category {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: var(--ion-color-secondary);
  font-weight: bold;
}

.display-ressource-chip .__relation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: var(--ion-color-primary);
  font-weight: bold;
}

.display-ressource-chip .__ressource {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  border: 1px solid var(--ion-color-primary);
  font-weight: bold;
}

.display-ressource-date {
  font-weight: bold;
  font-style: italic;
}

.display-ressource-content {
  border-bottom: 2px solid var(--ion-color-primary);
  text-align: justify;
}

.display-ressource-nbr {
  text-align: center;
  font-size: x-large;
}

.display-ressource-nbr > ion-col > ion-icon {
  display: block;
  margin: auto;
  font-size: 3rem;
}
/*# sourceMappingURL=showRessource.css.map */