.sc-ion-modal-md-h:first-of-type{
    background: #001922;
}
html.ios ion-modal .ion-page{
    background: #001922;
}
ion-content > .InscriptionModalText{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px 25px 0 25px;
}
.positionCloseCrossModalInscription{
    justify-content: flex-end;
}
.authentication-image-header {
    width: 50%;
    margin: auto;
    image-rendering: pixelated;
}
.textAlignCenterTitle{
    text-align: center;
}
.positionParentListNavigationModal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.positionParentListNavigationModal .is-actived {
    color: var(--ion-color-primary);
    font-weight: bold;
}
.inscriptionModalText{
    text-align:center;
}
.inscriptionModalForm{
    padding: 20px;
}
.inscriptionModalForm > ion-item{
    border-radius: 10px;
    margin-top: 15px;
    background: #0077A3;
    border: 1px solid transparent;
}
.inscriptionModalForm > .textPolitiqueConfidantial > p {
    font-size: 11px;
    text-align: center;
    margin: 20px;
}
.invisible{
    display: none;
}
.connexionModalForm{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
}
.connexionModalForm > ion-item{
    border-radius: 10px;
    margin-top: 20px;
    background: #0077A3;
}
.connexionModalForm > .textPasswordForgotten {
    color : #E04980 ;
}
.passwordForgottenModalForm {
    padding: 20px;
}
.passwordForgottenModalForm > ion-item{
    border-radius: 10px;
    margin-top: 20px;
    background: #705a62;
}
.passwordForgottenModalForm > .textProblemWithEmail {
    color : #E04980 ;
}
.whatULikeModalForm > .childForm {
    padding: 20px;
}
.ButtonBackModalPasswordForgotten{
  width: 150px;
  align-items: flex-end;
  text-align: end;
}
.tellUsMoreAboutAccount {
    position: absolute;
    left: 50%;
    transform: translateX(-30%);
    width: 100%;

}
.imgModalWelcome{
    margin-top: 10%;
}
.relativeParentPosition{
    position: relative;
}
.childForm{
    position : absolute ;
    top: 50%;
    transform: translateY(-85%);
}

.inscriptionModalForm .red-error {
    background: #e58787;
    border: 1px solid red;
}

.inscriptionModalForm .error-inputs-inscription {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
