.sectionParentAddRessources > form > div.enfantFormAddRessourcePositionElements {
    display: flex;
    flex-wrap: wrap;
}
.addRessourcesMarginSection{
    margin-top: 25px;
}
.textCenterTitleAddRessources{
    text-align: center;
}
ion-title.textCenterTitleAddRessources{
    font-size: 1.5rem;
}
.buttonValiderAndAnnulerAddRessources{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.sectionParentAddRessources ion-button{
    text-transform: capitalize !important;
}