/******************************************************
                Profils
********************************************************/
.sectionEnfantProfil{
    margin-top: 50px;
}
.backgroundProfilDark{
    background: linear-gradient(162deg, #00222e8a 0%, #00151d24 76%, #00151d24 100%);
    padding-bottom: 10px;
    padding-top: 1px;
}
.sectionEnfantProfil > ion-text > ion-title {
    margin: 6px;
}

/******************************************************
                Routes Profils
********************************************************/
.backgroundTopProfil{
    background: url(https://www.runeterrafire.com/images/decks/top/noxus.jpg);
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;
    bottom: 0;
    padding: 15px;
}
.positionParentAvatarProfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
    .positionEnfantAvatarProfil{
        position: relative;
        left: 15px;
    }

.parentItemsTopProfil{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
    .parentItemsTopProfil > ion-text {
        display: flex;
        flex-direction: row;
        font-size: 12px;
    }

/******************************************************
                Routes Profils
********************************************************/
.categorySectionprofil{
    margin-top: 80px;
}
.navBarProfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    padding: 0 15px;
    background-color: #00151D;
}
.positionParentListNavigationProfil{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;
    text-transform: uppercase;
    padding-inline-start: 0;
    width: 100%;
}
.navBarProfil > .positionParentListNavigationProfil > a > li > ion-text{
    color: white;
    font-weight: bold;
}

/******************************************************
                About Profils
********************************************************/
#firstCardAboutProfilBiographie{
    border-radius: 10px;
}
#firstCardAboutProfilBiographie > section > ion-card-subtitle {
    text-transform: uppercase;
    margin: 15px 15px 0 15px;
    color: #E04980;
    font-weight: bold;
}

.firstParentSection > .positionParentElementCardAboutProfil{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}
    .firstParentSection > .positionParentElementCardAboutProfil > ion-item {
        width: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
        .firstParentSection > .positionParentElementCardAboutProfil > ion-item > ion-label {
            display: flex !important;
            position: relative;
            left: 10px;
            top: 2px;
        }


.secondParentSection > .positionParentElementCardAboutProfil{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
    .secondParentSection > .positionParentElementCardAboutProfil > ion-item > ion-icon {
        font-size: 25px;
        color: #00B0F0;
    }


.thirdParentSection > .positionParentElementCardAboutProfil > .texteBiographyAboutProfil {
    text-align: justify;
}

/******************************************************
                Images Profils
********************************************************/
.md-layout .mbsc-scv-item {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.md-fixed .mbsc-scv-item {
    height: 80px;
    margin: 0 10px;
}


/******************************************************
                Vue Ressources Profils
********************************************************/
.marginSection > h3 {
    color : #50A7C7 ;
    text-align : center ;
}
.opacityCard{
    opacity: 50%;
}
.RessourceCardContainer{
    margin-top: 10% ;
}
.waitingText {
    text-align: right;
    margin-right: 4% ;
    opacity: 20%;
}
.waitingText > ion-icon {
    color:yellow;
}
.waitingText > ion-text {
    color:yellow;
}

.validateText {
    text-align: right;
    margin-right: 4% ;
}
.validateText > ion-icon {
    color:#49E058;
}
.validateText > ion-text {
    color:#49E058;
}
.subtitlesCard{
    display: flex;
    flex-direction: row ;
    position:relative;
}
.editText {
    position:absolute;
    right :0%;
    margin-right: 4% ;
}
.editText > ion-icon {
    color: #49E06A
}
.editText > ion-text {
    color: #49E06A
}
.deleteText {
    position:absolute;
    left :5%;

}

.deleteText > ion-icon {
    color: #FF0000 ;
}
.deleteText > ion-text {
    color: #FF0000 ;
}


/******************************************************
                Vue Ressources Favorites Profils
********************************************************/

.favoriteIcon{
    text-align: right;
    margin-right: 5% ;
}

.favoriteIcon > ion-icon {
    color: rgb(170, 108, 14) ;
}

/******************************************************
                Vue a propos Profils
********************************************************/

.topAboutProfil {
    text-align:center;
}
.positionAvatarVueAboutProfil{
    display: block;
    margin: auto;
    width: 200px;
    height: 200px;
}
.aboutProfil {
    color: #304750 ;
    text-align:center;
}

.clearContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 1px solid #304750;
}
    .clearContent > ion-item {
        display: block;
        margin: auto;
    }
    .clearContent > ion-text {
        text-align: justify;
        padding: 5px;
    }

.logoAboutProfil {
    color: #304750 ;
    font-size: 50px;
}
.CommentsAboutProfil {
    margin : 2% ;
}
.iconStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #304750;
    font-size: 34px;
    text-align: center;
}
/******************************************************
                Couleurs
********************************************************/
:root {
    --ion-color-noxus: #00B0F0;
    --ion-color-noxus-rgb: 0,176,240;
    --ion-color-noxus-contrast: #000000;
    --ion-color-noxus-contrast-rgb: 0,0,0;
    --ion-color-noxus-shade: #009bd3;
    --ion-color-noxus-tint: #1ab8f2;
  }

  .ion-color-noxus {
    --ion-color-base: var(--ion-color-noxus);
    --ion-color-base-rgb: var(--ion-color-noxus-rgb);
    --ion-color-contrast: var(--ion-color-noxus-contrast);
    --ion-color-contrast-rgb: var(--ion-color-noxus-contrast-rgb);
    --ion-color-shade: var(--ion-color-noxus-shade);
    --ion-color-tint: var(--ion-color-noxus-tint);
  }
