.bouton-explorer {
    display: flex;
    overflow-x: auto;
    width: auto;
    flex-direction: row;
    margin-right: 10px;
}
    .bouton-explorer
        .button-relation {
            display: flex;
            flex-shrink: 0;
            flex-grow: 0;
            min-width: 100px;
            max-width: 100px;
            height: 80px;
            border-radius: 5px;
            margin-left: 10px;
        }

        .items-relations{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            min-width: 100px;
            height: 100%;
            text-transform: capitalize;
        }
            .items-relations > ion-icon {
                font-size: 25px;
                text-align: center;
                width: 30px;
                margin: 0;
                position: absolute;
                top: 8px;
                left: 50%;
                transform: translateX(-50%);
            }
        .bouton-explorer
            .button-relation-text {
                justify-content: center;
                font-weight: bold;
                color: #fff;
                font-size: 12px;
                position: absolute;
                height: 100%;
                width: 100px;
                display: flex;
                z-index: 2;
                align-items: flex-end;
                bottom: 5px;
            }