.display-ressource-chip {
    display: flex;
    overflow-x: auto;
    width: auto;
    flex-direction: row;
    margin: 10px;
    border-bottom: 5px solid var(--ion-color-primary);

    .__category {
        justify-content: center;
        min-width: max-content;
        background-color: var(--ion-color-secondary);
        font-weight: bold;
    }
    .__relation {
        justify-content: center;
        min-width: max-content;
        background-color: var(--ion-color-primary);
        font-weight: bold;
    }
    .__ressource {
        justify-content: center;
        min-width: max-content;
        border: 1px solid var(--ion-color-primary);
        font-weight: bold;
    }
}

.display-ressource-date {
    font-weight: bold;
    font-style: italic;
}

.display-ressource-content {
    border-bottom: 2px solid var(--ion-color-primary);
    text-align: justify;
}

.display-ressource-nbr {
    text-align: center;
    font-size: x-large;

    >ion-col > ion-icon {
        display: block;
        margin: auto;
        font-size: 3rem;
    }
}